<!-- <div> -->

<div class="row">
    <!--    TODO:
            1) Fix height (fill rest of screen, not add 100)
            2) Change bg colour
            3) Fix img box and btn box
    -->
    <div class="col-9 vh-100" style="background-color: #eee;">

        <!-- Bulk Content -->
        <div>
            <div class="img-box" style="background-image: url(../assets/images/education-concept.jpg);">
                <!-- text -->
                <strong style="color:white;">
                    Από τις σπουδές σας στο εξωτερικό στη συνέχιση των σπουδών σας
                    και στην επαγγελματική σας εξέλιξη στην Ελλάδα
                </strong>
            </div>
        </div>

        <div class="box-clickable" style="position:relative;">
            <!-- button with text -->
            <a class="box-link" href="#application">
                <h2>Θέλω να κάνω αίτηση αναγνώρισης του τίτλου μου</h2>
            </a>
        </div>

    </div>

    <!-- Announcements -->
    <div class="col-3 vh-100" style="background-color: #333; text-align: center; color: white">
        <h2>Ανακοινώσεις</h2>
    </div>

</div>