<nav class="navbar navbar-light justify-content-between" style="background-color: #002e69;">
    <a href="index.html">
        <img class="logo" src="../assets/images/Logo-EL-Color-Light.png" alt="DOATAP Logo"
            style="width: 15%; height: 80%;">
    </a>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Αναζήτηση..." aria-label="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
    </form>
</nav>